body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Tahoma','Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    font-size: 1em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    font-size: 1em;
    display: inline;
    margin-right: 20px;
}

ul li {
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: #069e91;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size:1.8em;
}

h2 {
    font-size:1.4em;
}

h3 {
    font-size:1.2em;
}

p {
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
}

address {
    font-style: normal;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}


footer {
    border-top: 1px solid #84bab6;
    font-size: .8em;
    line-height: 1.2em;
    font-style: italic;
}

.smallimg {
  width: 400px;
  height: 180px
}



code {
    font-family: Monaco, monospace;
    font-size: $base-font-size;
    line-height: 1.4em;
    font-size: .90em;
    background-color: #eFeFeF;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
  }


pre {
      font-family: Monaco, monospace;
      font-size: $base-font-size;
      line-height: 1.4em;
      font-size: .90em;
      background-color: #eFeFeF;
      padding: 0.2em;
      letter-spacing: -0.05em;
      word-break: normal;

    }
