body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Tahoma','Helvetica', 'Arial';
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #a80c52;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size:1.8em;
}

h2 {
    font-size:1.4em;
}

h3 {
    font-size:1.2em;
}

p {
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
}

address {
    font-style: normal;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}



footer {
    border-top: 1px solid #d6b0be;
    font-size: .8em;
    line-height: 1.2em;
    font-style: italic;
}
