<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main_es.css">
		</head>
		<body>
			<nav>
	    		<ul>
            <li><a href="/">english</a></li>
            <li><a href="/home_es">Home</a></li>
            <!-- <li><a href="/about">About</a></li> -->
            <!-- <li><a href="/cv">CV</a></li> -->
            <li><a href="/blog_es">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div>
			<!--
			<footer>
	    		<ul>
	        		 <li><a href="mailto:camilaburne@gmail.com">email</a></li>  
	        		 <li><a href="https://github.com/camilaburne">github.com/camilaburne</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
