<!DOCTYPE html>
<html>
		<head>
			<title>{{ page.title }}</title>

			{% include head.html %}

		</head>

		<body>
			<nav>
	    		<ul>
            <li><a href="/home_es">español</a></li>
            <li><a href="/">home</a></li>
            <!-- <li><a href="/about">About</a></li> -->
            <li><a href="/cv">cv</a></li>
            <li><a href="/blog_en">blog</a></li>
						<li><a href="/cheatsheets_en">cheatsheets</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
				<ul>
					<a href="https://www.linkedin.com/in/camilaburne/" class="fa fa-linkedin"></a>
					<a href="https://github.com/camilaburne" class="fa fa-github"></a>
					<!-- <a href="https://twitter.com/camilaburnt" class="fa fa-twitter"></a>-->
					<a href="https://www.instagram.com/camilaburne/" class="fa fa-instagram"></a>

				</ul>
			</footer>
		</body>
	</html>
