<!DOCTYPE html>
<html>
  <header>
    <a href="/blog_eN">back to /blog</a></p>
  </header>

  <head>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <h1>{{ page.title }}</h1>

  </head>

  <span>[
         {% for tag in page.tags %}
           {% capture tag_name %}{{ tag }}{% endcapture %}
           <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
         {% endfor %}
         ]</span>

  <body>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->

    <footer>
      <p>{{ page.date | date_to_string }}</p>
    </footer>

  </body>
</html>
